body {
  padding: 0;
}

.imgContainer {
  .photo {
    width: 35%;
    border: 3px darkgrey solid;
  }
}
.hero {
  animation-name: backInDown;
  animation-duration: 1s;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  @media screen and (min-width: 320px) and (max-width: 425px) {
    margin-top: 40px;
  }
}

.sobreMi {
  animation-name: slideInDown;
  animation-duration: 1s;
  width: 100vw;
  max-width: 70%;
  margin: 8% auto 0 auto;
  @media screen and (min-width: 320px) and (max-width: 425px) {
    max-width: 90%;
    margin-top: 75px;
  }
}
.habilidades {
  animation-name: slideInDown;
  animation-duration: 1s;
  width: 100vw;
  max-width: 70%;
  margin: 6% auto;
  @media screen and (min-width: 320px) and (max-width: 425px) {
    max-width: 90%;
    .html {
      max-width: 75px;
      max-height: 100px;
    }
    .css {
      max-width: 75px;
      max-height: 100px;
    }
    .javaScript {
      max-width: 75px;
      max-height: 100px;
    }
    #bootstrap {
      max-width: 75px;
      max-height: 100px;
    }
    .sass {
      max-width: 85px;
      max-height: 100px;
    }
    .react {
      max-width: 90px;
      max-height: 100px;
    }
    .python {
      max-width: 85px;
      max-height: 100px;
    }
    .cpp {
      max-width: 85px;
      max-height: 100px;
    }
    .git {
      max-width: 85px;
      max-height: 100px;
    }
  }
}
.habilidad {
  @media screen and (min-width: 320px) and (max-width: 425px) {
    margin-top: 20px;
  }
}
.habilidades .habilidad {
  max-height: 120px;
}

#portafolio {
  margin: 8% 20px;
  max-height: 100vh;

  .card {
    width: 18rem;
  }
  div .proyecto {
    border: red, solid 5px;
  }
}

#portafolio-container {
  width: 100vw;
  max-width: 90%;
  display: flex;

  justify-content: space-around;
  margin: 0 auto 0 auto;
  flex-wrap: wrap;
  .project {
    margin: 20px;
    top: 5%;
    &:hover {
      animation-name: pulse;
      animation-duration: 0.8s;
      border: 1px black solid;

      .project-name {
        font-weight: bold;
      }
    }
    .img-project {
      background-repeat: no-repeat;
      background-size: cover;
      background-position-x: -12px;
      backface-visibility: visible;
    }
  }
}

#contacto-container {
  @media screen and (min-width: 320px) and (max-width: 425px) {
    h2 {
      margin-top: 30%;
    }
    height: 100vh;
  }
  @media screen and (min-width: 426px) and (max-width: 1023px) {
    h2 {
      margin-top: 140px;
    }
    height: 100vh;
  }
  animation-name: fadeIn;
  animation-duration: 2s;
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  .h2 {
    margin-top: 105px;
  }
  .crear-img {
    @media screen and (min-width: 320px) and (max-width: 425px) {
      margin-top: 10px;
      max-width: 80%;
    }
    @media screen and (min-width: 426px) and (max-width: 1023px) {
      margin-top: 25px;
      margin-bottom: 25px;
    }

    margin-top: 30px;
    border: 2px solid darkgrey;
    border-radius: 20px;
    max-width: 300px;
    max-height: 250px;
  }
  #redes {
    @media screen and (min-width: 320px) and (max-width: 425px) {
      max-width: 95%;
      margin-top: 10%;
      margin-bottom: 20px;
    }

    margin-top: 4%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 1.5%;
    border-radius: 50%;
    width: 100%;
    max-width: 70vw;

    .red {
      @media screen and (min-width: 320px) and (max-width: 425px) {
        width: 40px;
      }
      width: 50px;
      border-radius: 50%;
      &:hover {
        animation-name: tada;
        animation-duration: 1s;
      }
    }
  }
}

.footer {
  min-width: 100%;
  position: absolute;
  bottom: 0;
}
